{% extends 'base.html' %}

{% block pageTitle %}
關於遊戲
{% endblock %}


{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/about.css">
{% endblock %}

{% block js %}
{% endblock %}



{% block mainContent %}
<div id="adarea">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/QODhVO2rftI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	<h4>Patch6.3</h4>
	<a href="https://www.youtube.com/watch?v=agkSzcIlTUA" target="blank_" style="color: rgb(0, 110, 147);"><h1>天の祝祭、地の鳴動</h1></a>
	<h4 style="color: red;">2023年1月10日公開予定</h4>
</div>
<div id="textarea">
	<img src="/static/images/logo.jpg">
	<p style="margin-top: -20px;">《Final Fantasy XIV》是一款由 Square Enix 開發的 MMORPG，以其龐大的主線劇情與高品質為核心，玩家可以從中體驗 多種獨特專屬系統職業、講求配合的多樣副本、豐富的生產系統、注重個人特質的小屋與人物裝扮...等，2010 年發售，至今依然被評為最好玩的 MMORPG 之一。</p>
	<p>FF14擁有壯大的世界觀，背負著最終幻想這個響亮的名字，代表著最初與最終的幻想，講述了玩家從一介冒險者成長為拯救世界英雄，以及這個世界中奮力拼搏著的人們的故事。作為一款 MMORPG 遊戲，FF14 擁有豐富多彩的玩法，喜愛戰鬥的玩家自不必說，不擅於戰鬥的玩家們也可以從生產、採集、換裝、演奏、RP 等等各個方面找到自己的興趣，著實是可以生活在這個世界裡的遊戲。</p>
	<p></p>



</div>

{% endblock %}